
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    height: 100vh;
    background-image: url(VoteBackground.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
 .wrapper h1{
   text-align: center;
   position: center;
   font-size: 24px;
   font-weight: 600;
   color: #333;
 }
.otp
{
align-items: center;  
    display: inline-flex;
    margin-bottom: 50px;

}
.otp input
{
    width: 60px;
    font-size: 24px;
    margin: 2px;
    padding: 10px;
    background:none;
    outline: none;
    border: 2px solid #27212d;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    transition: all .3s ease;
}
.otp input:focus
{
    border: 2px solid #a527ff;
    box-shadow: 0 0 4px 4px #a527ff61;
}
button
{
    padding: 15px 55px;
    background-color: #4070f4;
    color: #fff;
    font-size: 16px;
    font-weight:bold;
    border: none;
    outline: none;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}
button:active
{
    transform: scale(.9);
}
