<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <title>Voting system</title>
 <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo"></h2>
        </div>
        <div class="menu">
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
            <ul>
                           <li><a href="register"><br><h2>REGISTRATION</h2><br></a></li>
                           <li><a href="login"><br><h2>LOGIN</h2><br></a></li>
                       </ul>
                   </div>
                            </div>
                            <div class="content">
                                <h1> <br><span></span> <br></h1>
                                <p class="par"></p>

                                    <button class="cn"><a href="{% static '#' %}"></a></button>
