<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <title>Voting system</title>
 <link rel="stylesheet" href="% static 'styleverify.css' %">
</head>
<body>
<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo"></h2>
        </div>
        <div class="menu">
                       <ul>
                           <h1> <br> OTP has been sent <br></h1>
                           <h2> <br> Click below option to enter OTP<br></h2>
                           <li><a href="otn">Enter OTP</a></li>
                       </ul>
                   </div>
        </div>
    </div>
</div>
