<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Otp Verification </title>
</head>
<body>
  <div class="wrapper">
    <h1>Enter OTP</h1>
    <div class="otp">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1" class="spacing">
        <input type="text" maxlength="1">
    </div>

    <button>Verify</button>
</body>

</html>
