<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'styleotp.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Otp Verification </title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <h1>Enter OTP</h1>
    <div class="otp">
        <input type="text" name="o1" maxlength="1">
        <input type="text" name="o2" maxlength="1">
        <input type="text" name="o3" maxlength="1" class="spacing">
        <input type="text" name="o4" maxlength="1">
    </div>

    <input type="submit">
</form>
</body>
</html>
