<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styleRegistration.css' %}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="" method="post">
      {% csrf_token %}
      <div class="input-box">
        <h3>Enter voting ID :</h3> <input type="text" name="i" required>
      </div>
      <div class="input-box">
        <h3>Enter your date of birth(format : ddmmyyyy) :</h3> <input type="text" name="dob" required>
      </div>
      <div class="input-box">
        <h3>Enter your registered Mobile number(add '+91') :</h3> <input type="text" name="num" required>
      </div>
      <div class="input-box">
        <h3>Create password :</h3> <input type="text" name="pass" required>
      </div>
      <div class="input-box">
        <h3>Confirm password :</h3> <input type="text" name="Cpass" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>

    </form>
  </div>
</body>
</html>
