
*{
padding:0;
margin:0;
/*box-sizing: border-box;*/
}

body{
background-image:url(VoteBackground.png);
background-size: cover;
background-position: center;
font-family: sans-serif;
}

.navbar{
    width: 500px;
    height: 75px;
    margin: 25px 85px ;
  }

.menu{
  background : #420c0c;
  text-align: center;

}

.menu ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu ul li
{
  width:120px;
  margin:15px;
  padding: 15px;
}

.menu ul li a
{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #0c0b26;
}

.active , .menu ul li :hover{
  background:#f0a3ba;
  border-radius: 3px;
}
