<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <title>Voting system</title>
 <link rel="stylesheet" href="{% static 'styleverify.css' %}">
</head>
<body>
<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo"></h2>
        </div>
        <div class="menu">
                       <ul>
                           <h3> <br> PHONE NUMBER VERIFICATION <br></h3>
                           <h3> <br> CLICK BELOW FOR GETTING YOUR PHONE NUMBER VERIFIED <br></h3>
                           <li><a href="verify"><h3>Verify</h3></a></li>
                       </ul>
                   </div>
    </div>
</div>
