<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
 <title>Voting system</title>
 <link rel="stylesheet" href="{% static 'styleverify.css' %}">
</head>
<body>
<div class="main">
        </div>
        <div class="menu">
                       <ul>
                         <center>
                           <h3> <br> Phone Number Verification <br>
                           <br> Click below for getting your phone number verified <br></h3>
                             <li><a href="verify"><h3>Verify</h3></a></li>
                            <br>
                       </ul>
                   </div>
    </div>
</div>


</body>
</html>
