<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <title>Voting system</title>
 <link rel="stylesheet" href="{% static 'stylevverify.css' %}">
</head>
<body>
<div class="main">
        </div>
        <div class="menu">
                       <ul>
                         <center>
                           <h1> <br>  Click below to Cast your Vote <br></h1>
                            <br>
                       </ul>
                   </div>
    </div>
</div>

    <li><a href="vot"><h3>Vote</h3></a></li>
</body>
</html>
