<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>a2</title>
</head>


<form action="" method="post">
    {% csrf_token %}
    Hello<br>
    Cast your Vote<br>
    Candidates<br>
    <br>
    <br>
    A-] ABC<br>
    B-] XYZ<br>
    C-] PQR<br>
    D-] EFG<br>
    enter your choice : <input type="text" name="cho"><br>
    <input type="submit">


</form>

</body>
</html>