<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <title>Voting system</title>
 <link rel="stylesheet" href="{% static 'stylev.css' %}">
</head>
<body>
<div class="main">
  <button class="cn"><a href="#"></a></button>
  <div class="form">
  <h2>Candidate list</h2>
    <br>
    A-] BJP<br>
    B-] KIV<br>
    C-] LIV<br>
    D-] SCI<br>
    <br>
    Enter your choice : <input type="text" name="cho"><br>
    <div class="input-box button">
        <input type="Submit" value="submit">
      </div>
</form>
</body>
</html>



                                      
